flows.json
[{"id":"d72a0be5.38ffc8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a5cebe28.38fe9","type":"debug","z":"d72a0be5.38ffc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":120,"wires":[]},{"id":"e859a8ac.6611d8","type":"http request","z":"d72a0be5.38ffc8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":400,"wires":[["ee797611.d3d168","2b39c197.d764fe"]]},{"id":"ec18887.9eb0678","type":"function","z":"d72a0be5.38ffc8","name":"Pre-token","func":"global.set(\"Age\",msg.payload.Age)\nglobal.set(\"Temperature\",msg.payload.Temperature)\nglobal.set(\"Systolic\",msg.payload.Systolic)\nglobal.set(\"Diastolic\",msg.payload.Diastolic)\nglobal.set(\"Pulse\",msg.payload.Pulse)\nvar apikey=\"jif3RB1gqa7YKhUVh3d9Eb_QXx4b7hcT7I0rlg8x7N55\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":300,"wires":[["e859a8ac.6611d8"]]},{"id":"ee797611.d3d168","type":"function","z":"d72a0be5.38ffc8","name":"Pre-Prediction","func":"var Age = global.get(\"Age\")\nvar Temperature = global.get(\"Temperature\")\nvar Systolic = global.get(\"Systolic\")\nvar Diastolic = global.get(\"Diastolic\")\nvar Pulse = global.get(\"Pulse\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Temperature\", \"Systolic\", \"Diastolic\", \"Pulse\"]],\"values\": [[Age, Temperature, Systolic, Diastolic, Pulse]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":360,"wires":[["671ed306.e4ba7c"]]},{"id":"2b39c197.d764fe","type":"debug","z":"d72a0be5.38ffc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":500,"wires":[]},{"id":"cf028c14.b5afe","type":"function","z":"d72a0be5.38ffc8","name":"","func":"var Age = global.get ('Age')\nvar Temperature = global.get ('Temperature')\nvar Systolic = global.get ('Systolic')\nvar Diastolic = global.get ('Diastolic')\nvar Pulse = global.get ('Pulse')\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"ouptut\",output)\nmsg.payload = {\n details: {\n health: {\n Age: Age,\n temperature: Temperature,\n systolic: Systolic,\n diastloic:Diastolic,\n pulse: Pulse,\n output: output\n }\n }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":280,"wires":[["f4607a1.ae9f788","adf43f70.5e92"]]},{"id":"671ed306.e4ba7c","type":"http request","z":"d72a0be5.38ffc8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/0e64d0ef-cd7d-41d8-837e-e68dae9111b3/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":420,"wires":[["cf028c14.b5afe","72eca5b6.6e70bc"]]},{"id":"72eca5b6.6e70bc","type":"debug","z":"d72a0be5.38ffc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":500,"wires":[]},{"id":"adf43f70.5e92","type":"debug","z":"d72a0be5.38ffc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":300,"wires":[]},{"id":"f4607a1.ae9f788","type":"ui_text","z":"d72a0be5.38ffc8","group":"9bc146b9.4b1568","order":6,"width":"17","height":"2","name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":220,"wires":[]},{"id":"a52d3a0f.9979c8","type":"inject","z":"d72a0be5.38ffc8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":320,"wires":[["ec18887.9eb0678"]]},{"id":"9f32826b.14a33","type":"ui_gauge","z":"d72a0be5.38ffc8","name":"","group":"9bc146b9.4b1568","order":1,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"Degree","format":"{{msg.payload.Temperature}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":100,"wires":[]},{"id":"a6411f39.1733c","type":"ui_gauge","z":"d72a0be5.38ffc8","name":"","group":"9bc146b9.4b1568","order":2,"width":"6","height":"6","gtype":"gage","title":"Diastolic","label":"units","format":"{{msg.payload.Diastolic}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":200,"wires":[]},{"id":"3667421e.f3206e","type":"ui_gauge","z":"d72a0be5.38ffc8","name":"","group":"9bc146b9.4b1568","order":3,"width":"6","height":"6","gtype":"gage","title":"Systolic","label":"units","format":"{{msg.payload.Systolic}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":160,"wires":[]},{"id":"f99c4ad3.7b2388","type":"ui_gauge","z":"d72a0be5.38ffc8","name":"","group":"9bc146b9.4b1568","order":4,"width":"6","height":"6","gtype":"gage","title":"Age","label":"","format":"{{msg.payload.Age}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":60,"wires":[]},{"id":"2fbd39c1.5cf056","type":"ui_gauge","z":"d72a0be5.38ffc8","name":"","group":"9bc146b9.4b1568","order":5,"width":"6","height":"6","gtype":"gage","title":"Pulse","label":"units","format":"{{msg.payload.Pulse}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":260,"wires":[]},{"id":"cfb67433.5f21f8","type":"ibmiot in","z":"d72a0be5.38ffc8","authentication":"apiKey","apiKey":"2b885161.a77d8e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"nmcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":160,"wires":[["f99c4ad3.7b2388","9f32826b.14a33","3667421e.f3206e","2fbd39c1.5cf056","a6411f39.1733c","a5cebe28.38fe9"]]},{"id":"9bc146b9.4b1568","type":"ui_group","z":"","name":"IoT Heart ","tab":"1bb07c5c.a60bc4","order":3,"disp":true,"width":"17","collapse":false},{"id":"2b885161.a77d8e","type":"ibmiot","z":"","name":"iot","keepalive":"60","serverName":"nfccqe.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"1bb07c5c.a60bc4","type":"ui_tab","z":"","name":"Health monitor","icon":"dashboard","disabled":false,"hidden":false}]