flows.json
[{"id":"31e4edfa.c3a902","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1c659ab8.6236f5","type":"debug","z":"31e4edfa.c3a902","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":120,"wires":[]},{"id":"3ea87827.138ad8","type":"http request","z":"31e4edfa.c3a902","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":400,"wires":[["3b911b4b.07e114","a2401e73.f17bc"]]},{"id":"a0189506.0ab558","type":"function","z":"31e4edfa.c3a902","name":"Pre-token","func":"global.set(\"Age\",msg.payload.Age)\nglobal.set(\"Temperature\",msg.payload.Temperature)\nglobal.set(\"Systolic\",msg.payload.Systolic)\nglobal.set(\"Diastolic\",msg.payload.Diastolic)\nglobal.set(\"Pulse\",msg.payload.Pulse)\nvar apikey=\"WvmXubsnlub8Y5TkgPQBQsQI-zaZce6IwBkO9H56Htad\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":300,"wires":[["3ea87827.138ad8"]]},{"id":"3b911b4b.07e114","type":"function","z":"31e4edfa.c3a902","name":"Pre-Prediction","func":"var Age = global.get(\"Age\")\nvar Temperature = global.get(\"Temperature\")\nvar Systolic = global.get(\"Systolic\")\nvar Diastolic = global.get(\"Diastolic\")\nvar Pulse = global.get(\"Pulse\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Temperature\", \"Systolic\", \"Diastolic\", \"Pulse\"]],\"values\": [[Age, Temperature, Systolic, Diastolic, Pulse]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":360,"wires":[["c11e5754.56ba18"]]},{"id":"a2401e73.f17bc","type":"debug","z":"31e4edfa.c3a902","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":500,"wires":[]},{"id":"c95590a1.405d2","type":"function","z":"31e4edfa.c3a902","name":"","func":"var Age = global.get ('Age')\nvar Temperature = global.get ('Temperature')\nvar Systolic = global.get ('Systolic')\nvar Diastolic = global.get ('Diastolic')\nvar Pulse = global.get ('Pulse')\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"ouptut\",output)\nmsg.payload = {\n details: {\n health: {\n Age: Age,\n temperature: Temperature,\n systolic: Systolic,\n diastloic:Diastolic,\n pulse: Pulse,\n output: output\n }\n }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":280,"wires":[["aac7ee47.323ce","a08a2c91.cd8cf"]]},{"id":"c11e5754.56ba18","type":"http request","z":"31e4edfa.c3a902","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/e4a42856-cc99-44e4-b393-de5b622d074d/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":420,"wires":[["c95590a1.405d2","29230443.a86c3c"]]},{"id":"29230443.a86c3c","type":"debug","z":"31e4edfa.c3a902","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":500,"wires":[]},{"id":"a08a2c91.cd8cf","type":"debug","z":"31e4edfa.c3a902","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":300,"wires":[]},{"id":"aac7ee47.323ce","type":"ui_text","z":"31e4edfa.c3a902","group":"9bc146b9.4b1568","order":6,"width":"17","height":"2","name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":220,"wires":[]},{"id":"82b28512.7bd308","type":"inject","z":"31e4edfa.c3a902","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":320,"wires":[["a0189506.0ab558"]]},{"id":"2816fc01.9eef94","type":"ui_gauge","z":"31e4edfa.c3a902","name":"","group":"9bc146b9.4b1568","order":1,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"Degree","format":"{{msg.payload.Temperature}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":100,"wires":[]},{"id":"a88a6004.b40e3","type":"ui_gauge","z":"31e4edfa.c3a902","name":"","group":"9bc146b9.4b1568","order":2,"width":"6","height":"6","gtype":"gage","title":"Diastolic","label":"units","format":"{{msg.payload.Diastolic}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":200,"wires":[]},{"id":"2a14c755.e62198","type":"ui_gauge","z":"31e4edfa.c3a902","name":"","group":"9bc146b9.4b1568","order":3,"width":"6","height":"6","gtype":"gage","title":"Systolic","label":"units","format":"{{msg.payload.Systolic}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":160,"wires":[]},{"id":"d698eca8.357c8","type":"ui_gauge","z":"31e4edfa.c3a902","name":"","group":"9bc146b9.4b1568","order":4,"width":"6","height":"6","gtype":"gage","title":"Age","label":"","format":"{{msg.payload.Age}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":60,"wires":[]},{"id":"e7e7fa36.ef7778","type":"ui_gauge","z":"31e4edfa.c3a902","name":"","group":"9bc146b9.4b1568","order":5,"width":"6","height":"6","gtype":"gage","title":"Pulse","label":"units","format":"{{msg.payload.Pulse}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":260,"wires":[]},{"id":"88f1274.d7a9bd8","type":"ibmiot in","z":"31e4edfa.c3a902","authentication":"apiKey","apiKey":"2b885161.a77d8e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"nmcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":160,"wires":[["d698eca8.357c8","2816fc01.9eef94","2a14c755.e62198","e7e7fa36.ef7778","a88a6004.b40e3","a0189506.0ab558"]]},{"id":"9bc146b9.4b1568","type":"ui_group","z":"","name":"IoT Heart ","tab":"1bb07c5c.a60bc4","order":3,"disp":true,"width":"17","collapse":false},{"id":"2b885161.a77d8e","type":"ibmiot","z":"","name":"iot","keepalive":"60","serverName":"nfccqe.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"1bb07c5c.a60bc4","type":"ui_tab","z":"","name":"Health monitor","icon":"dashboard","disabled":false,"hidden":false}]